*{
    padding: 0px;
    margin: 0px;
}

#content{
    width: 100%;
    background-color: #1B263B;
    display: flex;
}

#trade{
    padding-top: 200px;
    padding-left: 415px;
    color: white;
    font-size: 100px;
}
#as{
    color: white;
    font-size: 75px;
    padding-left: 220px;
}
#you{
    color: cadetblue;
    font-size: 95px;
    padding-left: 25px;
}
#wish{
    color: white;
    font-size: 75px;
    padding-left: 25px;
}
#contentsubpart{
    color: cadetblue;
    padding-left: 220px;
    padding-top: 10px;
    font-size: 35px;
}
#contentlogo{
    background-image: url(contentlogo.png);
    background-size: cover;
    height: 150px;
    width: 600px;
    padding-top: 400px;
}


                              /* main content */

#maincontent{
    height: 175px;
    width: 100%;
    background-color: #1B263B;
    display: flex;
    justify-content: center;
}

#loginbutton{
    transition: 0.5s all ease-in-out;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: aliceblue;
    background-color: #415A77;
}
#loginbutton:hover{
    transform: scale(1.1);
}

